[Unit]
Description=Vérifie main et déploie SafeCom CRM

[Timer]
OnBootSec=1min
OnUnitActiveSec=60s
AccuracySec=15s
Persistent=true

[Install]
WantedBy=timers.target
